/* CountdownCircle.css */
.circle {
  width: 40px; /* 너비 40px */
  height: 40px; /* 높이 40px */
  border-radius: 50%; /* 원 형태 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;

}

.circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff; /* 아웃라인 색상을 흰색으로 설정 */
  border-top-color: #3498db; /* 아웃라인의 시작 색상을 파란색으로 설정 */
  animation: fill 7s linear forwards; /* 애니메이션 */
}

.count {
  font-size: 1rem; /* 숫자 크기 조정 */
  position: relative;
  z-index: 1; /* 숫자가 아웃라인 위에 보이게 함 */
}

@keyframes fill {
  from {
      transform: rotate(0deg); /* 시작 각도 0도 */
  }
  to {
      transform: rotate(360deg); /* 최종 각도 360도 */
  }
}
