/* CountdownCircle.css */
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #3498db;
  animation: fill 7s linear forwards;
}

.count {
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

@keyframes fill {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
